:root {
    --red: #DA2535;
    --black: #292929;
    --gray: #616161;
    --white-200: #F3F3F3;
    --white: #FBFBFB;

    --ff-i:  'Inter', sans-serif;
    --ff-m:  'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    background-color: white;
}

.FoodJP {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 40px 50px;
}

.JP {
    color: #DA2535;
}

.menu-navegacao {
    height: 130px;
    width: 130px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 90%;
}

.menu-navegacao ul, li, a {
    color: black;
    text-decoration: none;
    list-style-type: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7rem;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content:center;
}

.menu-navegacao a:hover {
    background-color: #DA2535;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    position: center;
    transition:ease-out 0.1s;
}

.enterButton {
    background-color: white;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
}

.enterButton:hover {
    background-color: rgb(203, 203, 203);
}

.Oriental {
    padding: 100px 90px;
    margin-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.cardButton {
    background-color: #DA2535;
    color: white;
    font-size: 20px;
    padding: 10px 80px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cardButton:hover {
    background-color:#ad242f;
}

.Sushi {
    width: 300px;
} 

.container {
    overflow: auto;
}

img {
    float:inline-end;
    margin-right: 150px;
}

.Tradicional {
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    font-size: 20px;
    margin: 150px;
}

.prato {
    width: 500px;
    margin-left: 90px;
    padding-top: 90px;
    float: inline-start;
}

.link {
    text-decoration: underline;
    color: #DA2535;
    font-size: 20px;
    margin-right: 72px;
}

.link:hover {
    color:#ff6572
}

.popular {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.container2 { /* tentar arrumar o tamanho desse */
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0px;
}

.section-feedback {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 10%;
    margin-bottom: 75px;
}

.feedback-title {
    font-family: var(--ff-m);
    font-weight: 600;
    color: var(--black);
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.feedback-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 28px;
}

.feedback-card {
    width: 28rem;
    height: 300px;  
    background-color: var(--white-200);
    border-radius: 16px;
    padding: 30px;
}

.feedback-card-profile {
    width: 23%;
    margin-bottom: 1.5rem;
}

.feedback-card-author {
    font-family: var(--ff-m);
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--black);

    margin-bottom: 1rem;
}

.feedback-card-desc {
    font-family: var(--ff-i);
    font-weight: 400;
    font-size: 1rem;
    color: var(--gray);
    line-height: 160%;
    width: 80%;
    margin-bottom: 1rem;
}


.section-location {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 10%;
    margin-bottom: 75px;    
}

.location-title {
    font-family: var(--ff-m);
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 2.5rem;
}   

.location-img {
    margin-bottom: 56px;
}

.location-form {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}   

.location-input {
    width: 100%;
    height: 50px;
    background: none;
    border: 1px solid var(--black);
    border-radius: 10px 0px 0px 10px;
    padding: 0 10px 0 66px;

    font-size: 1rem;
    color: var(--black);
    font-family: var(--ff-i);
    font-weight: 400;
}

.location-icon {
    position: absolute;
    left: 20px;
}

.location-button {
    width: 25%;
    height: 50px;
    background: var(--red);
    border-radius: 0px 10px 10px 0px;

}

.text-button {
    font-family: var(--ff-i);
    font-weight: 500;
    font-size: 1rem;
    color: var(--white);
}

.search-icon {
    display: none;
}

/* Footer */

.footer {
    width: 100%;
    display: flex;
    padding: 25px 10%;
    margin-bottom: 35px;  
    column-gap: 51px;
}

.footer-title {
    font-family: var(--ff-m);
    font-weight: 700;
    color: var(--black);
    font-size: 2rem;
}

.nav-cards {
    display: flex;
    column-gap: 162px;
    flex-wrap: wrap;
}

.nav-title {
    font-family: var(--ff-m);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--black);

    margin-bottom: 24px;
}

.nav-item {
    font-family: var(--ff-i);
    font-weight: 400;
    color: var(--gray);


    margin-bottom: 12px;
}